.main-small-btn {
    position: relative;
    border: none; /* Remove borders */
    color: white;
    background-color: #4CAF50; /* Add a background color */
    padding: 6px 6px;
    margin: 2px 2px;
    border-radius: 4px;
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}