.main-small-btn {
    position: relative;
    border: none; /* Remove borders */
    color: white;
    background-color: #4CAF50; /* Add a background color */
    padding: 6px 6px;
    margin: 2px 2px;
    border-radius: 4px;
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.search:hover {
    cursor:pointer;
    background-color: rgba(0,0,0, 0.1);
}

.search-date {
    width: 100%; /* Full width */
    height: 48px;
    font-size: 16px;
    border-radius: 4px;
}

.message-dialog {
    font-family: sans-serif;
    font-size: 16px;
}

.message-dialog-small-button {
    border: none; /* Remove borders */
    color: white;
    background-color: #4CAF50; /* Add a background color */
    padding: 8px 8px;
    margin: 4px 4px;
    border-radius: 4px;
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }

  .message-dialog-small-cancel-button {
    border: none; /* Remove borders */
    color: white;
    background-color: #f44336; /* Add a background color */
    padding: 8px 8px;
    margin: 4px 4px;
    border-radius: 4px;
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }

.message-dialog-small-cancel-button:hover,
.message-dialog-small-cancel-button:focus {
    color: #f1eded;
    text-decoration: none;
    cursor: pointer;
}