<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/tableview.css">
    <link rel="stylesheet" type="text/css" href="styles/tab.css">
    <title>LDAP Viewer</title>

    <script src="javascripts/util/fileutil.js"></script>
    <script src="javascripts/util/message.js"></script>
    <script src="javascripts/gui/tableview.js"></script>
    <script src="javascripts/gui/dataview.js"></script>
    <script src="javascripts/gui/tabview.js"></script>

</head>

<body>
    <!-- dialogs -->

    <dialog id="wait-dialog" class="dialog"
        style="position:absolute; width:100%; height:100%; opacity: 0.5; border: none; overflow: hidden;">
        <div style="position:absolute; width:100%; height:100%; overflow: hidden;">
            <div id="wait-spinner" style="position:absolute; left: 50%; top: 45%; opacity: 1.0;">
                <div style="width:48px; height:48px; z-index: 10; opacity: 1.0;" class="waiting">
                    <img src="images/wait.svg" width="48" height="48" />
                </div>
            </div>
        </div>
    </dialog>

    <dialog id="connect-dialog" class="dialog" style="min-width:400px; height:200px;">
        <p style="font-size: 18px; font-weight: bold;">Enter the LDAP URL</p>

        <div style="position:absolute; left:10px; right:10px">
            <input class="modal-entry" id="ldap-url" style="position:absolute; left:10px; right:10px" type="text"
                name="ldap-url" placeholder="ldap://userid:password@host:389">
            </input>
        </div>

        <div style="position:absolute; bottom:10px; left:10px; right:10px;">
            <div id="connect-message"
                style="color:rgba(255,0,0,0.6); width:300px; float:left; font-size: 12px; margin-top:8px;"></div>
            <button id="ok-connect-dialog" class="message-dialog-small-button"
                style="float: right; margin-top:10px;">Connect</button>

            <button id="cancel-connect-dialog" class="close-button message-dialog-small-cancel-button"
                style="float: right; margin-top:30px; visibility: hidden;">Cancel</button>
        </div>

    </dialog>

    <div style="position:absolute; left:0px; right:0px; top:0px; height:30px; -webkit-app-region: drag;">
        <div class="header" style="position:absolute; top:-5px; left:10px; right:40px;">
            <p>LDAP&nbsp;Searcher</p>
        </div>
        <button id="clear-history-button" class="message-dialog-small-button" style="position:absolute; top:10px; right:10px;">
            <img src="images/history.svg" width="18" , height="18"></img>
        </button>

    </div>

    <div id="tabs" style="position:absolute; top:44px; left:10px; width:430px; bottom:10px; overflow:hidden;">
        <div class="tab">
            <button class="tablinks" id="tab1" onclick="showTab(event, 'tabs', 'search-panel', 'tab1')"
                value="Search">Search</button>
            <button class="tablinks" id="tab2" onclick="showTab(event, 'tabs', 'history-panel', 'tab2')"
                value="History">History</button>
        </div>
        <div id="search-panel" class="tabcontent"
            style="position:absolute; top:45px; left:0px; right:0px; bottom:0px; overflow:hidden;">
            <input id="search-argument" class="search" style="position:absolute; height:22px; left:10px; right:90px"
                name="search-argument">
            </input>
            <button id="search-button" class="message-dialog-small-button" style="float: right;height:24px; margin-left:5px">
                <img src="images/search.svg" width="18" , height="18"></img>
            </button>
            <button id="erase-button" class="message-dialog-small-button" style="float: right;height:24px;">
                <img src="images/erase.svg" width="18" , height="18"></img>
            </button>
            <div id="search-results"
                style="position:absolute; top:36px; left:10px; right:10px; bottom:10px; border: 1px solid rgba(0,0,0, 0.2); padding:4px; overflow:auto;">
            </div>
        </div>
        <div id="history-panel" class="tabcontent"
            style="position:absolute; top:45px; left:0px; right:0px; bottom:0px; overflow:hidden;">
            <input id="filter-history" class="search" style="position:absolute; height:22px; left:10px; right:50px"
                name="filter-history">
            </input>

            <button id="filter-history-button" class="message-dialog-small-button" style="float: right;height:24px;">
                <img src="images/filter.svg" width="18" , height="18"></img>
            </button>

            <div id="history-results"
                style="position:absolute; top:36px; left:10px; right:10px; bottom:10px; border: 1px solid rgba(0,0,0, 0.2);  padding:4px; overflow:auto;">
                <table id="history-table" class="result-table"></table>
            </div>
        </div>
    </div>
    <div id="container"
        style="position:absolute; top:44px; left:460px; right:10px; bottom:40px; border: 1px solid rgba(0,0,0, 0.2); overflow:hidden;">

        <div id="artifacts" style="position:absolute; top:10px; left:10px; right:10px; bottom:10px; font-size:14px;">
            <div id="artifacts-filter"
                style="position:absolute; left:2px; top:2px; height:30px; right:2px; overflow:none; font-family: sans-serif; font-size: 12px; padding:5px; border-bottom: 1px solid rgba(0,0,0, 0.08);">
                <select name="filter-type" id="filter-type"
                    style="position:absolute; top:0px; left:10px; height:20px; font-size:12px;">
                    <option value="name">Field Name</option>
                    <option value="oid">Object ID (OID)</option>
                    <option value="value">Field Value</option>
                </select>
                <input type="text" id="filter-selection" name="filter"
                    style="position:absolute; top:0px; left:120px; right:50px"></input>
                <button id="filter-button" style="position:absolute; top:-4px; right:10px;">
                    <img src="images/filter.svg" style="margin-top: 2px;" width="18" , height="18"></img>

                </button>
            </div>

            <div id="artifacts-container"
                style="position:absolute; left:2px; top:40px; bottom:200px; right:2px; overflow:none; font-family: sans-serif; font-size: 12px; padding:5px; display:none;">
            </div>
            <div id="artifact-view"
                style="position:absolute; left:2px; height:185px; bottom:5px; right:10px; overflow:none; font-family: sans-serif; font-size: 12px; padding:5px; border: 1px solid rgba(0,0,0, 0.08); display:none; ">

                <div id="artifact-entry-attribute"
                    style="position:absolute; left:10px; top:5px; bottom:10px; right:10px; overflow:none; font-family: sans-serif; font-size: 12px; padding:5px; border-bottom: 1px solid rgba(0,0,0, 0.08);">
                </div>

                <div id="artifact-entry-view"
                    style="position:absolute; left:10px; top:37px; bottom:10px; right:10px; overflow:none; font-family: sans-serif; font-size: 12px; padding:5px; border-bottom: 1px solid rgba(0,0,0, 0.08); overflow: auto;">
                </div>

            </div>
        </div>
    </div>

    <div id="viewer-status" class="status-message overflow-text"
        style="position:absolute; bottom:10px; left:6px; right: 400px; ">
    </div>

    <div id="export" class="status-message" style="position:absolute; bottom:10px; right: 10px; overflow: hidden;">
        <span style="float:right;  margin-top:10px;">
            <button id="dn-download-button" class="button-no-style" disabled>
                <img src="images/download.svg" width="18" , height="18"></img>
            </button>
        </span>
        <span style="float:right;">
            <div id="selected-dn" style="width:800px; text-align: right; margin-right: 10px; margin-top:15px;"
                class="overflow-text"></div>
        </span>


    </div>

</body>

<script src="javascripts/main.js"></script>

</html>
